html {
  background-color: #f3f3f3;
}
.banner {
  background-image: url(../AnhCat/GIOITHIEU-banner.jpg);
  background-size: cover ;
  background-repeat: no-repeat;
  position: relative;
  height: 20rem;
}
.banner::after {
  position: absolute;
  content: "";
  background-color: black;
  width: 100%;
  height: 20rem;
  opacity: 0.1;
}
.banner_content {
  position: absolute;
  width: 100%;
  z-index: 1;
  color: white;
  height: 5rem;
  text-align: center;
  padding: 4rem;
  /* font-family: go; */
}
.banner_content > img {
  filter: brightness(0) invert(1);
}
#body {
  margin-top: auto;
  background-color: #F3F3F3;
}
#body > .container {
  position: relative;
  height: 85rem;
}
.thong-tin-gt {
  background-color: white;
  position: absolute;
  top: -3rem;
  left: 0rem;
  padding: 1rem 1rem;
}
h1 {
  text-transform: uppercase;
  font-weight: 700;
      margin-top: 1rem;
}
/* p {
  font-size: 1rem;
} */
.title > h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  margin: 2rem auto;
  position: relative;
  width: fit-content;
}
.title > h3::before {
  position: absolute;
  top: 100%;
  content: "";
  width: 60%;
  height: 0.2rem;
  background-color: #bd945f;
  left: 50%;
  transform: translateX(-50%);
}
.content {
  display: flex;
}
.content > img {
  width: 30%;
}
.content__info {
  width: 50%;
}
.tamnhin > img {
  width: 100%;
  margin: 0 auto;
  height: 20rem;
}
.col-6 > img {
  width: 20%;
  height: 50%;
}
.box-content-info.col-6.d-flex {
  border: 3px solid #bd945f;
  width: 45%;
  margin: auto;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.sumenh {
  width: 92%;
  margin: 0rem auto;
}
.content-mission > h3 {
  color: #bd945f;
  padding: 0 10px;
}
.content-mission > p {
  padding: 10px;
  font-weight: 500;
}
footer {
  background-color: #363636;
  color: white;
 
}
@media (max-width: 756px) {
  .content-mission > p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 968px) {
  .content {
    display: unset !important;
  }
  .thong-tin-gt {
    text-align: center;
  }
  .content__info {
    width: 100%;
    text-align: start;
  }
}
@media (max-width: 480px) {
}
.tamnhin>p {
    padding-top: 0.5rem;
}