body {
  background-color: #f3f3f3;
}

/* img.d-block.w-100 {
  height: 37rem;
} */
.carousel-caption {
  left: 65%;
  top: 50%;
}

button.mua {
  border: none;
  padding: 0.8rem;
  background-color: white;
  color: #2c2e53;
}
.title > h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  /* margin-bottom: 2rem ;  */
  position: relative;
  width: fit-content;
  color: #2c2e53;
  /* padding-top: 2rem; */
}
div.them > a {
  color: #2c2e53;
  font-size: 1rem;
}
.them {
  text-align: end;
}
.title > h3::before {
  position: absolute;
  top: 100%;
  content: "";
  width: 60%;
  height: 0.2rem;
  background-color: #bd945f;
  left: 30%;
  transform: translateX(-50%);
}
.sanpham {
  background-color: white;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
/* .col-md-3 > img {
  width: 100%;
  height: 12rem;
} */
.fade-in-box > .col-md-3 {
  text-align: center;
}
.col-md-3 > h5 {
  color: #2c2e53;
  text-transform: uppercase;
  padding-top: 0.5rem;
}
i.fa-solid.fa-cart-shopping {
  padding-right: 2rem;
}
.box-product-top {
  position: relative;
  height: 13rem;
}
.box-product-top>img{
  height: 100%;
}
.product:hover .box-product-top::after {
  content: ""; /* Thêm một lớp phủ */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.addcart {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.product:hover .addcart {
  display: block;
}
